html
  head
    title='Ericsson Folks ... Confluence4.0 Rocks !!'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') 
  body
    div.container
      div.jumbotron
        h1 welcome to Confluence4.0 from Ericsson SDC !!!
        p Click the button below to head over to latest news ...
        p 
          a.btn.btn-primary(href="http://www.timesofindia.com/") News
        p